<!DOCTYPE html>
<html>
<head>
<title>About Page</title>
<link rel='stylesheet' type='text/css' href='../static/css/about.css'/>
</head>

<body>
<header>
<h1 class="name">Decelles Engineering Solutions</h1>
</header>

<main>
<nav>
    <li><a class="links" href='../'>Home</a></li>
    <li><a class="links" href='../services/'>Services</a></li>
    <li><a class="links" href='#'>About</a></li>
    <li><a class="links" href='../contact'>Contact</a></li>
    <li><a class='links' href='../reviews/'>Reviews</a></li>
</nav>
<h1 class="about-title">About Us</h1>
<br>
<br>
<div class="paragraph">
<h3>Who we are...</h3>
<p>Professionals dedicated to personal service with a clear focus on providing environmentally-friendly, cost-effective solutions for our valued clients.</p>
<br>
<h3>What we can do for you...</h3>
<p>We can assist with your project from the earliest planning stages through the final design phase.</p>
<br>
<h3>Why choose Decelles Engineering Solutions...</h3>
<p>Because every project recieves personalized attention from one of our talented and highly experienced project managers.</p>
<br>
<br>
</div>
</main>
</body>

<footer>
<p>Copyright &copy; Decelles Engineering Solutions.  -All rights reserved.</p>
</footer>
</html>