<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel='stylesheet' type='text/css' href='../static/css/index.css'/>
</head>

<body>
<main>
<header>
<h1 class="name">Decelles Engineering Solutions</h1>
<div class="nav-bar">
<nav>
    <li><a class='links' href='#'>Home</a></li>
    <li><a class="links" href='../services/'>Services</a></li>
    <li><a class='links' href='about/'>About</a></li>
    <li><a class='links' href='contact/'>Contact</a></li>
    <li><a class='links' href='reviews/'>Reviews</a></li>
</nav>
</div>
</header>

<h1 class="welcome-title">Welcome to Decelles Engineering Solutions</h1>
<h3 class="civil-title">Civil Engineering</h3>

</main>
</body>

<footer>
<p>Copyright &copy; Decelles Engineering Solutions.  -All rights reserved.</p>
</footer>
</html>