<!DOCTYPE html>
<html>
<head>
<title>Reviews</title>
<link rel="stylesheet" type="text/css" href="../static/css/reviews.css">
</head>

<body>
<header>
<h1 class="name">Decelles Engineering Solutions</h1>
</header>

<main>
<nav>
    <li><a class="links" href='../'>Home</a></li>
    <li><a class="links" href='../services/'>Services</a></li>
    <li><a class="links" href='../about/'>About</a></li>
    <li><a class='links' href='../contact/'>Contact</a></li>
    <li><a class='links' href='#'>Reviews</a></li>
</nav>

<h1 class="reviews-title">Reviews</h1>

<br>
<br>



<form action="" method='POST'>

{% csrf_token %}

<label class="heading" for="review">Leave a Review.</label>
<br>
<input type="text" id="name" name="name" placeholder="Enter your name" required>
<input type="text" id="review" name="message" placeholder="Describe your experience" required>
<br>
<br>
<button type="submit">Submit</button>
<a href="../reviewlist/"><input type="button" value="Click here to see reviews"></a>
</form>
<br>
<br>
<br>
<br>
</main>
</body>
<footer>
<p>Copyright &copy; Decelles Engineering Solutions.  -All rights reserved.</p>
</footer>
</html>